{% include 'navbar.html' %}

{% block content %}
<h1>Add Affidavit for {{ profile.user.username }} </h1>
<form method="post" action="{% url 'add_affidavit' profile_id=profile.id %}">
    {% csrf_token %}
    <textarea name="content" id="content" placeholder="Enter affidavit content" required></textarea><br>
    <button type="submit">Add Affidavit</button>
</form>

<h1>Add Affidavit for {{ profile.user.username }} </h1>
<form method="post" action="{% url 'add_affidavit' profile_id=profile.id %}">
    {% csrf_token %}
    <!-- CKEditor Container -->
    <textarea name="content" id="content" placeholder="Enter affidavit content" required></textarea><br>
    <button type="submit">Add Affidavit</button>
</form>

<!-- Include CKEditor library -->
<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>

{% endblock %}
