{% load static %}
<!-- navbar.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="navbar-links" id="js-menu">
    <label for="nav-toggle" class="hamburger">
        <i class="fas fa-bars"></i>
    </label>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </li>
            <li class="nav-item">
                <p class="nav-link"><i class="fas fa-user"></i> Welcome, {{ user.profile.first_name }}</p>
            </li>
            <li class="nav-item">
                <a href="{% url 'file_new_case' %}" class="nav-link"><i class="fas fa-file-upload"></i> File New Case</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{% url 'register' %}" class="nav-link"><i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
        {% endif %}
    </ul>
</div>
<script>
 
// scripts.js
document.addEventListener("DOMContentLoaded", function() {
    const hamburger = document.getElementById("js-hamburger");
    const navList = document.getElementById("js-nav-list");

    hamburger.addEventListener("click", function() {
        navList.classList.toggle("active");
    });
});

</script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'scripts.js' %}"></script>
