<!-- myapp/templates/myapp/file_new_case.html -->
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File New Case</title>
    {% include 'navbar.html' %}

            
    <div class="fill-container">

        <h1>File New Case</h1>
        <form method="post" action="{% url 'file_new_case' %}">
            {% csrf_token %}
            <div class="dropdown-container">
                <label for="court-selection">Select Where You Want To File:</label>
                <select id="court-selection" name="court-selection">
                    <option value="">Select an option</option>
                    <option value="kadhi_court">Kadhi Court</option>
                    <option value="magistrate_court">Magistrate Court</option>
                    <option value="small_claim_court">Small Claim Court</option>
                    <option value="court_of_appeal">Court of Appeal</option>
                    <option value="tribunal">Tribunal</option>
                </select>
            </div>
            <div id="additional-dropdowns" class="additional-dropdowns">
                <div class="flex-container">
                    <div class="dropdown">
                        <label for="court-station">Court Station:</label>
                        <select id="court-station" name="court-station">
                            <option value="rent_restriction_tribunal">Rent Restriction Tribunal</option>
                            <option value="competition_tribunal">Competition Tribunal</option>
                            <option value="public_private_partnership">Public Private Partnership</option>
                            <option value="hiv_tribunal">HIV Tribunal</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        <label for="court-division">Court Division:</label>
                        <select id="court-division" name="court-division">
                            <option value="embu">Embu</option>
                            <option value="kiambu">Kiambu</option>
                            <option value="kisumu">Kisumu</option>
                            <option value="mombasa">Mombasa</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        <label for="case-category">Case Category:</label>
                        <select id="case-category" name="case-category">
                            <option value="rrc">RRC</option>
                            <option value="rra">RRA</option>
                        </select>
                    </div>
                    <div class="dropdown">
                        <label for="case-type">Case Type:</label>
                        <select id="case-type" name="case-type">
                            <option value="rent_restriction">Rent Restriction</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</head>
<body>

    <script>
        document.getElementById('court-selection').addEventListener('change', function() {
            var additionalDropdowns = document.getElementById('additional-dropdowns');
            if (this.value) {
                additionalDropdowns.style.display = 'block';
            } else {
                additionalDropdowns.style.display = 'none';
            }
        });
    </script>
</body>
</html>
{% endblock %}
