{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    {% include 'navbar.html' %}

    <div class="login-form">
        <h1 style="color:black;">Login</h1>
        {% if messages %}
   <div class="messages">
         {% for message in messages %}
              <div  style="color:red;" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
       </div>
      {% endfor %}
    </div>
{% endif %}
        <div class="container">
            <div class="main">
                <div class="content">
                 <form method="post">
                    {% csrf_token %}

                        <input type="password" name="password" placeholder=" new password" required >
                        <input type="password" name="password2" placeholder="confirm new password" required>
                        <button class="btn" type="submit">
                            Reset Password
                         </button>

                    </form>
                    <div class="form-footer">
                        <p>Do not have an account?<a href="{% url 'register' %}">Register Now</a></p>
                    </div>
                                       
                </div>
                <div class="form-img">
                    <img src="{%static 'img/bg.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>


{% endblock %}

